#                                                Python Basics

# Data Types

integers:

In [1]:
x = 1

type(x)

int

float:

In [5]:
x = 1.5923801

type(x)

float

strings:

In [7]:
x = "test"

type(x)

str

You can add strings together. The second string will append to the first.

In [21]:
x = "5"

y = "6"

x + y

'56'

In [22]:
z = "7"

a = "8"

x + y + z + a

'5678'

You can easily convert one data type to another by simply typing int() for integer conversion, float() for float conversion, or str() for string conversion.

In [24]:
print(type(x))
print(type(y))

<class 'str'>
<class 'str'>

In [27]:
x = int(x)

y = int(y)

x + y

11

Boolean (True or False):

In [90]:
x = 5 < 6

print(x)
print(type(x))

True
<class 'bool'>

In [91]:
print(5 < 6)
print(5 <= 6)
print(5 > 6)
print(5 >= 6)
print(5 == 6)
print(5 != 6)

True
True
False
False
False
True

Boolean values can be used for operations. True = 1 and False = 0.

In [92]:
print(True * 5)
print(False * 5)
print(sum([True, False, True, False, True]))

5
0
3

# Lists

In [9]:
x = [1,2,3,4,5]

type(x)

list

Lists may contain many data types.

In [11]:
x = [1, 2, "three", 4, 5.0]

# Slicing

Slicing is a way to subset data by its indices. The format is as follows:

Indices begin at 0. Negative indices begin at 0 after the last element, -1 at the last element, -2 at the second-to-last element, etc.

To extract a single element:

    x[2] will give you the third element of list x
    
    x[-2] will give you the second-to-last element of list x
    
    
To extract many elements, place the index of the first element on the left of the colon within brackets, and place the index of the first element you want to exclude on the right side of the colon within brackets. If you leave the left or right side of the colon blank, your Python interpreter will read the blank as a zero.

    x[2:4] will give you the third and fourth elements of list x
    
    x[:4] will give you the first four elements of list x
    
    x[4:] will give you the fifth element of list x and all elements right of the fifth element
    
    x[-3:] will give you the last three elements of list x
    
    x[:-3] will give you all elements of list x except the last three elements

In [37]:
x = [1, 2, "three", 4.0, "five", 6, 7]

x

[1, 2, 'three', 4.0, 'five', 6, 7]

In [38]:
x[2]

'three'

In [39]:
x[-2]

6

In [40]:
x[2:4]

['three', 4.0]

In [41]:
x[:4]

[1, 2, 'three', 4.0]

In [42]:
x[4:]

['five', 6, 7]

In [43]:
x[-3:]

['five', 6, 7]

In [44]:
x[:-3]

[1, 2, 'three', 4.0]

# Attributes of Lists and Important List Functions and Methods

Lists can be 'added' together just like strings. The elements of the second list will be appended to the first list, but the value of the first list will not change.

In [47]:
y = [8, 9.0, "ten"]

x + y

[1, 2, 'three', 4.0, 'five', 6, 7, 8, 9.0, 'ten']

In [48]:
x

[1, 2, 'three', 4.0, 'five', 6, 7]

You could achieve a similar result with the append method. However, the append method will change the value of the first list. Additionally, the append method will append the entire list rather than the elements of the list.

In [50]:
x.append(y)

x

[1, 2, 'three', 4.0, 'five', 6, 7, [8, 9.0, 'ten'], [8, 9.0, 'ten']]

If you want the elements from both list x and list y, you can do it in two ways:

In [95]:
x = [1, 2, "three", 4.0, "five", 6, 7]

x = x + y

x

[1, 2, 'three', 4.0, 'five', 6, 7, 8, 9.0, 'ten']

In [96]:
x = [1, 2, "three", 4.0, "five", 6, 7]

for i in range(len(y)):
    
    x.append(y[i])
    
x

[1, 2, 'three', 4.0, 'five', 6, 7, 8, 9.0, 'ten']

How do you delete elements from a list?

In [97]:
# This will delete the third element of the list
del(x[2])

x

[1, 2, 4.0, 'five', 6, 7, 8, 9.0, 'ten']

How do I insert items to a list?

In [98]:
x.insert(2, "three")

x

[1, 2, 'three', 4.0, 'five', 6, 7, 8, 9.0, 'ten']

What if I want to change a value?

In [99]:
x[2] = 3

x[3] = int(x[3])

x[4] = 5

x[8] = int(x[8])

x[9] = 10

x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

To subset a list conditionally:

In [103]:
x_subset = [num for num in x if num > 5]

x_subset

[6, 7, 8, 9, 10]

# Pandas Series

I discuss some of the Pandas data types in the "Pandas and Time Series" lesson. If I have time, I may include more on Pandas data types here. Here is one example of how Pandas data types can be useful.

Series are easier to subset conditionally, and they are subset like vectors in R. Many of the Pandas data types are like R's data types.

In [106]:
import pandas as pd
x_series = pd.Series(x)

x_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [107]:
x_series[x_series > 5]

5     6
6     7
7     8
8     9
9    10
dtype: int64